.search-container {
    
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.search-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.search-container form h1 {
    align-self: center;
}

.search-container form input {
    margin-top: 20px;
    border: 1px solid slategrey;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 17px;
    color: dimgrey;
}

.search-container form button {
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 17px;
    background: dodgerblue;
    font-weight: bold;
    color: ivory;
}

.search-container .row {
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0px 160px;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    padding-top: 1rem;
}