.search-container {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
}

.search-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.search-container form h1 {
    align-self: center;
}

.search-container form input {
    margin-top: 20px;
    border: 1px solid slategrey;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 17px;
    color: dimgrey;
}

.search-container form button {
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 17px;
    background: dodgerblue;
    font-weight: bold;
    color: ivory;
    cursor: pointer;
}

.search-container div .row{
    margin-top: auto;
    align-content: center;
    
}